<app-picture-header></app-picture-header>
<!-- </div> -->
<div class="jumbotron">
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="container-fluid">
        <div class="showCard col-4 col-md-12">
          <!-- <div class="" style='border:2px solid red;'> -->
          <div class="row">
            <h2>Places</h2>
            <p>Best places to know the city - best places to know the city - best places to know the city - best
              places to
              know the city - best places to know the city - best places to know the city </p>
          </div>
          <app-place-show></app-place-show>
          <!-- </div> -->
        </div>
      </div>

      <div class="container-fluid">
        <div class="showCard col-4 col-md-12">
          <!-- <div class="col-6 col-md-4"> -->
          <div class="row">
            <h2>People</h2>
            <p>Best places to know the city - best places to know the city - best places to know the city - best
              places to
              know the city - best places to know the city - best places to know the city </p>
          </div>
          <app-people-list></app-people-list>
        </div>
      </div>
    </div>
  </div>
</div>
