<!-- <link href="https://fonts.googleapis.com/css?family=Luckiest+Guy&display=swap" rel="stylesheet"> -->
<nav class="navbar navbar-default navbar-fixed-top"
style="box-shadow: 6px 1px 12px gray;">
  <!-- <nav class="navbar navbar-expand-lg navbar-light bg-light"> -->
  <div class="container-fluid">
    <div class="navbar-header">
      <button
        type="button"
        class="navbar-toggle collapsed"
        data-toggle="collapse"
        data-target=".navbar-collapse"
      >
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a [routerLink]="['']" class="navbar-brand localBrand">
        Local<span style="color: red">PTY</span>
      </a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li><a [routerLink]="['places']">Places</a></li>
        <li><a [routerLink]="['people']">People</a></li>
        <li><a [routerLink]="['tours']">Tours</a></li>
        <li><a [routerLink]="['abouts']">About</a></li>
        <li><a [routerLink]="['kids']">Kids</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <button type="button" class="btn btn-danger head-btn">Book Now</button>
        <!-- <li> <a href="#" style="background-color: greenyellow;">Book Now</a></li> -->
        <!-- <li class="dropdown">
          <a href="#" class="dropdown-toggle" role="button">Manage <span class='caret'></span></a>
          <ul class='dropdown-menu'>
            <li><a href="#">Save Data</a></li>
            <li><a href="#">Fetch Data</a></li>
          </ul>
        </li> -->
      </ul>
    </div>
  </div>
</nav>

<!-- <div class="container-fluid">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="#">WebSiteName</a>
  </div>
  <div class="collapse navbar-collapse" id="myNavbar">
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Page 1 <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="#">Page 1-1</a></li>
          <li><a href="#">Page 1-2</a></li>
          <li><a href="#">Page 1-3</a></li>
        </ul>
      </li>
      <li><a href="#">Page 2</a></li>
      <li><a href="#">Page 3</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
    </ul>
  </div>
</div> -->
