<link href="https://fonts.googleapis.com/css?family=Luckiest+Guy&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://unpkg.com/ngx-bootstrap/datepicker/bs-datepicker.css">

<!--The content below is only a placeholder and can be replaced.-->
<app-header></app-header>

<!-- <form>
  <div class="main-container">
    <div class=" w-100" style="border: 2px solid purple;">
      <div class="d-flex justify-content-center">
        <div class="m-2">
          <mat-form-field>
            <mat-datepicker-toggle matSuffix [for]="pickerBirthDate"></mat-datepicker-toggle>
            <mat-datepicker #pickerBirthDate></mat-datepicker>
            <input matInput placeholder="Fecha de Nacimiento" [matDatepicker]="pickerBirthDate" name="birthDate"
              formControlName="dateOfBirth" class="matInputDate" />
          </mat-form-field>
        </div>
      </div>
    </div>
  </div>
</form> -->
<!-- </div> -->


<!-- <div class="container-fluid"> -->

<!-- <app-content></app-content> -->
<!-- <div class="container">
  <div class="col-md-12">
    <app-book></app-book>
  </div>
</div> -->
<!-- <app-footer></app-footer> -->
<app-book></app-book>
