<div class="container-fluid" style="margin-top: 60px;">
  <div class="row">
    <header class="parallax">
      <!-- <div class="header-photo" style="border: 2px solid green;"> -->
      <!-- style="border: 2px dashed black;" -->
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h1> <span class="span-light">Local</span> In PTY</h1>
          </div>
          <div class="col-md-12 header-photo" style="padding: 30px 0px;">
            <img src="../../assets/img/logo-transp2.png" />
          </div>
          <div class="col-md-12 text-center">
            <p class="lead">Where the real traveler meets the real thing</p>
            <div class="row">
              <button type="button" class="btn btn-danger head-btn">Book Now</button>
              <!-- <app-book></app-book> -->
              <app-contact-us></app-contact-us>
            </div>
          </div>
        </div>
      </div>
      <i class="fa fa-arrow-circle-down arrow-Down"></i>
    </header>
  </div>
</div>



<!-- Full Page Image Header with Vertically Centered Content -->

<!-- <header class="masthead"> -->

<!-- </header> -->
